pix3-background {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #1e1e1e;
}

pix3-background .background-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

pix3-background .logo-placeholder {
  text-align: center;
  opacity: 0.3;
  user-select: none;
}

pix3-background .logo-placeholder img {
  width: 128px;
  height: 128px;
  margin-bottom: 16px;
}

pix3-background .logo-placeholder p {
  font-size: 14px;
  color: #ccc;
}
